/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.gstatic.com/s/lobstertwo/v12/BngMUXZGTXPUvIoyV6yN5-fN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/*Variables*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 3rem;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto Mono', monospace;
}
.container {
  max-width: 85%;
  margin: 20px 30px 20px 30px;
}
img {
  width: 40%;
  height: auto;
  border: 2px solid black;
}
p {
  line-height: 1.25;
  margin: 20px 0;
  font-size: 1.8rem;
}
strong {
  font-weight: bold;
  color: red;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*closes a links*/
}
nav a {
  text-decoration: none;
  color: black;
  margin: 10px;
}
@media (max-width: 515px) {
  nav {
    background-color: #FFDAB9;
    width: 80%;
  }
}
/*closes nav section*/
header {
  background-color: skyblue;
  width: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px dashed black;
  /*closes h1 section*/
}
header h1 {
  font-family: 'Lobster Two', monospace;
  font-size: 5.5rem;
  margin-bottom: 1.5%;
  align-content: center;
}
header .ContactMeBtn {
  display: block;
  background-color: #FFDAB9;
  margin: 10px 10px 20px;
  cursor: pointer;
  width: 180px;
  height: 45px;
  font-size: 2rem;
  border-radius: 8px;
}
@media (max-width: 515px) {
  header {
    display: flex;
    justify-content: center;
    padding: 4%;
  }
  header h1 {
    font-size: 4rem;
  }
  header h2 {
    font-size: 2rem;
  }
  header img {
    width: 60%;
    margin: 2%;
  }
  header .ContactMeBtn {
    margin: 10px 10px 20px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
}
/*closes header section*/
.main-content {
  display: flex;
  flex-direction: column;
  background: #FFDAB9;
  width: 80%;
  /*closes media query section*/
}
.main-content #Intro div {
  padding: 2%;
  margin: 2%;
  width: 45%;
}
.main-content #Skills {
  padding: 2%;
  margin: 2%;
  width: 45%;
  align-content: flex-start;
  background-color: white;
}
@media (max-width: 515px) {
  .main-content {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
  }
  .main-content #Intro div {
    padding: 0;
    justify-content: center;
    width: 80%;
  }
  .main-content #Intro p {
    font-size: 1.5rem;
  }
  .main-content #Skills p {
    font-size: 1.5rem;
  }
}
/*closes main content section*/
#work-history {
  padding: 2%;
  background-color: skyblue;
  width: 80%;
  border: 2px dashed black;
  /*closes out of media query*/
}
#work-history p {
  display: flex;
  flex-direction: row;
}
@media (max-width: 515px) {
  #work-history {
    padding-left: 2%;
  }
  #work-history p {
    font-size: 1.5rem;
  }
}
/*closes out work history section*/
#contact {
  padding: 2%;
  background-color: #FFDAB9;
  width: 80%;
}
#contact h3 {
  margin-bottom: 1%;
}
#contact a {
  text-decoration: underline;
  color: black;
}
@media (max-width: 515px) {
  #contact {
    padding: 3%;
  }
  #contact h3 {
    font-size: 1.9rem;
  }
}
/*closes out contact section*/
